<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody *ngFor="let i of menuItems">
    <tr>
      <td>{{ i.name }}</td>
      <td>{{ i.category }}</td>
      <td>
        {{ i.price }} <br />
        <a href="#"
          ><button
            type="button"
            (click)="AddToCart(i)"
            class="btn btn-outline-success btn-sm"
          >
            Add to cart
          </button></a
        >
      </td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead class="thead-light">
    <h3>Cart</h3>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody *ngFor="let i of cart">
    <tr>
      <td>{{ i.name }}</td>
      <td>{{ i.category }}</td>
      <td>{{ i.price }}</td>
    </tr>
  </tbody>
  <th>Tax: {{ ((totalPrice(cart) / 1.06) * 0.06).toFixed(2) }}</th>
  <tr>
    <th>Grand total {{ totalPrice(cart).toFixed(2) }}</th>
  </tr>
  <tr>
    <a href="#"
      ><button
        type="button"
        class="btn btn-primary btn-lg btn-block btn-success"
      >
        Pay Now!
      </button></a
    >
  </tr>
</table>
